# 프로젝트 제외 경로
/.gradle/
/build/
/build-logic/.gradle/
/build-logic/build/
/build-logic/build/classes/kotlin/main/
/modules/arc-api/build/
/modules/arc-api/build/classes/kotlin/main/
/modules/arc-bootstrap/build/
/modules/arc-bootstrap/build/classes/kotlin/main/
/modules/arc-command/build/
/modules/arc-command/build/classes/kotlin/main/
/modules/arc-command/build/classes/kotlin/test/
/modules/arc-config/build/
/modules/arc-config/build/classes/kotlin/main/
/modules/arc-config/build/classes/kotlin/test/
/modules/arc-core/build/
/modules/arc-core/build/classes/kotlin/main/
/modules/arc-coroutine/build/
/modules/arc-coroutine/build/classes/kotlin/main/
/modules/arc-di/build/
/modules/arc-di/build/classes/kotlin/main/
/modules/arc-di/build/classes/kotlin/test/
/modules/arc-diagnostics/build/
/modules/arc-diagnostics/build/classes/kotlin/main/
/modules/arc-event/build/
/modules/arc-event/build/classes/kotlin/main/
/modules/arc-eventbus/build/
/modules/arc-eventbus/build/classes/kotlin/main/
/modules/arc-ksp/build/
/modules/arc-ksp/build/classes/kotlin/main/
/modules/arc-loader/build/
/modules/arc-loader/build/classes/kotlin/main/
/modules/arc-reflection/build/
/modules/arc-reflection/build/classes/kotlin/main/
/modules/arc-runtime/build/
/modules/arc-runtime/build/classes/kotlin/main/
/modules/arc-runtime/build/classes/kotlin/test/
/modules/arc-runtime-migration/build/
/modules/arc-runtime-migration/build/classes/kotlin/main/
/modules/arc-runtime-snapshot/build/
/modules/arc-runtime-snapshot/build/classes/kotlin/main/
/modules/arc-scheduler/build/
/modules/arc-scheduler/build/classes/kotlin/main/
/modules/arc-storage/build/
/modules/arc-storage/build/classes/kotlin/main/
/modules/arc-utils/build/
/modules/arc-utils/build/classes/kotlin/main/
/modules/arc-zero-downtime/build/
/modules/arc-zero-downtime/build/classes/kotlin/main/
/test-module/build/
/test-module/build/classes/kotlin/main/